<!--
      subvista: dibujar directiva example-chart
-->
<h1>{{ mensaje }}</h1>
<div class="row">
  <div class="col-xs-5 wrapper text-right">
    <div class="btn-group btn_2" data-toggle="buttons">
      <button class="btn btn-default" ng-click="findDataByYear(year_2012)">
        <i class="fa fa-lg fa-graduation-cap" aria-hidden="true"></i>
        <input type="radio" name="options2" id="option3" autocomplete="off" ng-model="year_2012">{{year_2012}}</input>
      </button>
      <button class="btn btn-default active" ng-click="findDataByYear(year_2013)">
        <i class="fa fa-lg fa-graduation-cap" aria-hidden="true"></i>
        <input type="radio" name="options2" id="option4" autocomplete="off" ng-model="year_2013">{{year_2013}}</input>
      </button>
    </div>
  </div>
</div>

<div>
  <div class="container-fluid" ng-repeat="object in dataExampleList">
    <div class="col-xs-3 col-xs-offset-0 col-md-4 col-md-offset-1 dotted">
      <p class="font-average">{{ object.programa }}</p>
    </div>
    <div class="col-xs-2 col-md-1" align="center">
      <p class="font-average">{{ object.valueGraduado }}</p>
    </div>
    <div class="col-xs-3 col-md-1" align="center">
      <p class="font-average">{{ object.valueVinculacionLaboral }}</p>
    </div>
    <div class="col-xs-4" example-chart data="[object.valueSalario]" max="maxValue"></div>
  </div>
</div>
