<!--
      subvista: definición filtros generales de la aplicación
-->
<h1>{{ mensaje }}</h1>
<div class="contenedor-filtros">
    <div class="row">
        <div class="col-xs-12 col-md-2 col-lg-2">
          <h6>TEMA</h6>
          <select ng-model="defaultTema.idTema"
                  ng-options="tema.id as tema.name for tema in defaultTema.temaList"
                  ng-change="getChangeTema(defaultTema.idTema)"
                  ng-init="getChangeTema(defaultTema.idTema)">
          </select>
        </div>

        <div class="col-xs-12 col-md-2 col-lg-2">
          <h6>RANGO DE EDAD</h6>
          <select ng-model="defaultRangoEdad.idEdad"
                  ng-options="edad.id as edad.name for edad in defaultRangoEdad.edadList">
          </select>
        </div>

        <div class="col-xs-12 col-md-2 col-lg-2">
          <h6>UBICACIÓN</h6>
          <select ng-model="defaultUbicacion.idUbicacion"
                  ng-options="ubicacion.id as ubicacion.name for ubicacion in defaultUbicacion.ubicacionList"
                  ng-change="getChangeUbicacion(defaultUbicacion.idUbicacion)"
                  ng-init="getChangeUbicacion(defaultUbicacion.idUbicacion)">
          </select>
        </div>

        <div class="col-xs-12 col-md-2 col-lg-2">
          <h6>CIUDAD</h6>
          <select ng-model="defaultCiudad.idCiudad"
                  ng-options="ciudad.id as ciudad.name for ciudad in defaultCiudad.ciudadList">
          </select>
        </div>
        <div class="contenedor-boton-1 col-xs-12 col-md-2 col-lg-2">
            <button type="button" class="boton-descargar btn btn-default"><i class="fa fa-download"></i> Descargar Datos</button>
        </div>
    </div>
</div>
