<!--
      subvista: definición filtros generales de la aplicación
-->
<div class="contenedor-filtros">
    <div class="row">
        <div class="col-xs-12 col-md-2 col-lg-2">
          <h6>TEMA</h6>
          <select ng-model="objTema.idTema"
                  ng-options="x.idTema as x.nameTema for x in objTema.temaList"
                  ng-change="changeTema(objTema.idTema)"
                  ng-init="changeTema(objTema.idTema)">
          </select>
        </div>

        <div class="col-xs-12 col-md-2 col-lg-2">
          <h6>RANGO DE EDAD</h6>
          <select ng-model="objRangoEdad.idRangoEdad"
                  ng-options="x.idRangoEdad as x.nameRangoEdad for x in objRangoEdad.rangoEdadList">
          </select>
        </div>


        <div class="col-xs-12 col-md-2 col-lg-2">
          <h6>UBICACIÓN</h6>
          <select ng-model="objUbicacion.idUbicacion"
                  ng-options="x.idUbicacion as x.nameUbicacion for x in objUbicacion.ubicacionList"
                  ng-change="changeUbicacion(objUbicacion.idUbicacion)"
                  ng-init="changeUbicacion(objUbicacion.idUbicacion)">
          </select>
        </div>

        <div class="col-xs-12 col-md-2 col-lg-2">
          <h6>CIUDAD</h6>
          <select ng-model="objCiudad.idCiudad"
                  ng-options="x.idCiudad as x.nameCiudad for x in objCiudad.ciudadList"
                  ng-change="changeCiudad(objCiudad.idCiudad)">
          </select>
        </div>
        <div class="contenedor-boton-1 col-xs-12 col-md-2 col-lg-2">
            <button type="button" class="boton-descargar btn btn-default"><i class="fa fa-download"></i> Descargar Datos</button>
        </div>
    </div>

</div>
