<!--
      Footer de la aplicación
-->
<div class="footer">
 <div class="linea-dane"></div>
    <div class="container-fluid bg-footer">
      <div class=" container-fluid row">

          <div class="item-info_dane col-xs-12 col-sm-4 col-md-3">
            <div class="icon-position"> <img src="app/views/imgs/call-icon.png" alt="Icono centro de llamadas" /> </div>
            <div class="text-info_dane">
              <h5>CALL CENTER</h5>
              <p><strong>Conmutador:</strong> (571) 597 8300<strong> / Línea gratuita de atención:</strong> 01 8000 912002 </p>
            </div>
          </div>
          
          <!--espacio 2-->
          <div class="item-info_dane col-xs-12 col-sm-4 col-md-2">
            <div class="icon-position"> <img src="app/views/imgs/clock-icon.png" alt="Icono horario"/> </div>
            <div class="text-info_dane">
              <h5>HORARIO DE ATENCIÓN</h5>
              <p>Lunes a viernes 8:00 a 17:00</p>
            </div>
          </div>
          
          <!--espacio 3-->
          <div class="item-info_dane col-xs-12 col-sm-4 col-md-3" style="border: none;">
            <div class="icon-position"> <img src="app/views/imgs/location-icon.png" alt="Icono localización"/> </div>
            <div class="text-info_dane">
              <h5>DIRECCIÓN</h5>
              <p>Carrera 59 No. 26-70 Interior I - CAN / <strong>Bogotá D.C. - Colombia </strong></p>
              <p><strong></strong></p>
            </div>
          </div>

            <div class="col-xs-12 col-sm-12 col-md-4"> <a href="http://www.dane.gov.co/" target="_blank"> <img class="img-responsive  hidden-xs" src="http://www.dane.gov.co/templates/t3_bs3_blank/images/logo_dane-presidencia.svg" alt="Identidad institucional del DANE"/> </a> <a href="http://www.dane.gov.co/" target="_blank"> <img class="img-responsive hidden-sm hidden-md hidden-lg" src="http://www.dane.gov.co/templates/t3_bs3_blank/images/logo_dane-presidencia_v.svg" alt="Identidad institucional del DANE"/> </a> </div>
      </div>
 
    </div>
</div>
