<!--
      Header de la aplicación
-->
 <div class="container">
  <div class="header">
    <div class="header_main-content container row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="logo_dane-2017"> <a href="http://www.dane.gov.co/"> <img class="img-fluid" src="http://www.dane.gov.co/templates/t3_bs3_blank/images/logo-dane_2017.svg" alt="Identidad institucional del DANE"> </a> </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 titulo-aplicativo">
        <h1>Encuesta Nacional de Lectura - ENLEC 2017</h1>
      </div>
    </div>
  </div>
</div>
