@charset "UTF-8";
/*------------Fonts--------------*/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('Open Sans'), 
       url('../../../bower_components/google-open-sans/open-sans/regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../bower_components/google-open-sans/open-sans/regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../bower_components/google-open-sans/open-sans/regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../../bower_components/google-open-sans/open-sans/regular.ttf')  format('truetype'); /* Safari, Android, iOS */
 font-style: normal;
 font-weight: 400;
} 

@font-face {
font-family: 'Roboto Slab';
src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
     url('../../../bower_components/roboto-slab-fontface-bower/fonts/RobotoSlab-Regular.woff') format('woff'),
	 url('../../../bower_components/roboto-slab-fontface-bower/fonts/Roboto_Slab-Regular.ttf') format('truetype'); 
font-style: normal;
font-weight: 400;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../../../bower_components/fonts/fontawesome-webfont.eot');
  src: url('../../../../bower_components/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../../../bower_components/fonts/fontawesome-webfont.woff') format('woff'), url('../../../bower_components/fonts/fontawesome-webfont.ttf') format('truetype'), url('../../../bower_components/fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.header_main-content{
  margin-top: 20px;
}
.header_main-content h1{
  margin: 30px 0px 0 0;
}
.header_main-content div{
   padding-left: 0;
    padding-right: 0;
}
.logo_dane-2017 img{
  max-width: 392px;
}
.titulo-aplicativo{
  h1{
  text-align: right;
  font-family: 'Roboto Slab';
  font-size: 2em;
  color: #631028; 
  }
} 
.fecha_dane{
  font-family: 'Open Sans';
  font-size: 14px;
  color: #575756;
  float: left;
  margin-top: 10px
}

.pattern-line{
  margin-top: 30px;
  margin-bottom: 30px;
}

.linea-dane {
    margin-bottom: -8px;
    background-image: url(../img/pattern-dane.png);
    background-repeat: repeat-x;height: 33px;
    margin-top: 20px;
}
.bg-footer{
  background-color: #fff;
}

.icon-position{
  width: 28px;
  height: 28px;
  margin-right: 15px;
  float: left;
}
.item-info_dane{
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-info_dane h5{
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 13px;
  margin: 0;
}
.text-info_dane p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  margin-left: 45px;
}
.col-border {
    padding: 0 40px;
    border-right: 1px solid #fff;
}
.pattern-dane{
  width: 120%;
  height: 30px;
    margin: 0px -15px -2px -15px;
  padding-top: 0px;
  background-image: url(../img/pattern-block.png);
}
.logo-gobierno{
  float: right;
  text-align: right;
}
.logo-gobierno_v {
  text-align: right;
  margin: -40px -20px 0px 0px;

}
.position_allfooter{
  width: 100%;
}
@media (min-width: 1200px) {

}

@media (max-width: 992px) {
  .logo_dane-2017 img {
      max-width: 304px;
      margin-top: 20px;
  }

  .linea-dane {
      margin-bottom: -7px;
  }
  .text-info_dane h5{
    font-size: 12.5px;
  }
  .text-info_dane p, .text-info_dane ul li p a{
    font-size: 11.5px;
  }
  .col-border{    
    padding: 0 15px;
  }

}
@media (max-width: 814px) {
  .logo-gobierno img {
      position: relative;
      bottom: -25px;
  }
}
@media (max-width: 767px) {
  .header_main-content h1{
    margin: 20px 0px 0 0;
  }
  .logo_dane-2017 img {
      max-width: 98%;
  }
  .fecha_dane{
    text-align: center;
    width: 100%
  }
  .idioms-line {
      padding-right: 0;
  }
  .idioms-block {
      float: none;
      margin-left: auto;
      margin-right: auto;
  }
  #custom-search-input {
      float: none;
      width: 75%;
      margin: 20px auto 15px auto;
  }

  .logo-gobierno img {
      position: initial;
      margin-top: -40px;
  }
}
@media (max-width: 690px){
  .logo-gobierno img {
      margin-top: -20px;
  }
}
@media (max-width: 575px){
  .logo_dane-2017 img {
      max-width: 70%;
      margin-left: 15%;
      margin-right: 15%;
  }
  .titulo-aplicativo h1{
    text-align: center;
  }
  .titulo-aplicativo {
    margin-top: 20px;
  }
  .logo-gobierno{
    float: left;
    text-align: center;
    margin-top: 30px;
  }
  .logo-gobierno img{
    max-width: 50%;
  }

}
@media (max-width: 500px){
  body{
    overflow-x: hidden;
    overflow-y: auto;
  }
  .logo_dane-2017 img {
      max-width: 90%;
      margin-left: 6%;

  }
  #custom-search-input {
      width: 94%;
  }
  .content-footer_dane{
    padding: 10px 10px 0px 10px;
  }
}
@media (max-width: 479px){
  .logo-gobierno img{
    max-width: 70%;
  }
}

body {
font-family:'Open Sans';
font-size: 13px;
color: #202020;
}
h1{
	font-family:'Roboto Slab', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: normal;
	font-size: 28px;
  	color: #202020;
}

h2, h3, h4, h5, h6{
	font-family:'Open Sans',"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: normal;
}
h2{
  font-size: 1.5em;
  color: #8D143E;
  letter-spacing: 0.02em;
  text-align: left;
}
h3{
  font-size: 1.5em;
  color: #202020;
}

/*.nav{
	background: #f6f6f6;
	height: 30px;
  margin: 20px 0 40px 0;
}*/
.navbar {
  padding: 0px;
  margin:20px 0 20px 0;
}
/*
.nav-link{
  font-size: 12px;
  color: #70706F;
}
.nav-item {
      padding-top: 10px;
      cursor: pointer;
}

.nav-item .active, .nav-link:hover{
  font-weight:bolder;
  color: #000;
}

.nav-link{
  margin: -8px 20px 0px 20px;
}*/
.bd-light{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 10px;
}
.bd-light .dropdown button{
  width: 100%;
  text-align: left;
  color: #868686;
}
.form-control:focus {
  border: 1px solid #8D143E;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102, 175, 233, 0);

}
.btn-success{
  background-color: #AFAF38;
  border-color: transparent;
  color: #fff;
}
.btn-success:focus{
  background-color: #BBC144;
  border-color: transparent;
  color: #fff;
  box-shadow:0 0 0 0px rgba(0,0,0,0);
}
.btn-success:hover{
  background-color: #BBC144;
  border-color: transparent;
  color: #fff;
}
.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #8D143E;
}
.custom-control-input:focus~.custom-control-indicator {
    box-shadow: none;;
}
.custom-control-input:active~.custom-control-indicator {
    color: #fff;
    background-color: #fff;
}
.list-Noindent{
  margin-left: -25px;
}

.card{
  background-color: #FAFAFA;
  margin: 10px 0 10px 0;
}

.card-title:before {
  font-family: 'Open Sans';
  content: 'Titulo';
  font-size: 11px;
  color:#8D143E;
  display: block;
  margin-bottom: 5px;
}
.card-deck hr{
  margin-bottom: 0px;
}
.card-title{
  font-family:'Roboto Slab', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  font-size: 15px;
  color:#70706F;
  margin-bottom: 0px;
}
.card-img-top{
  width: 63px;
  height: 90px;
  float: left;
  margin-right: 10px;

}
.card-text{
    margin-top: 20px;
    font-size: 11px;
}
.card-block ul{
  text-transform: lowercase;
}
.card-block li:first-letter {
  text-transform: uppercase;
}
.autor:before {
  content: 'Autor:';
  margin-top: 0px;
  padding-top: 10px;
}
.editor, .NoPag, .categoria, .autor, .fecha{
margin: 10px 0 0 0;
}

.editor:before, .NoPag:before, .categoria:before, .autor:before, .fecha:before, .sizeFile:before{
  font-family: 'Open Sans';
  font-size: 11px;
  color:#8D143E;
  font-weight: bold;
  display: block;
}
.NoPag:before {
  content: 'Número de páginas: ';
}
.categoria:before {
  content: 'Categoría: ';
}
.editor:before {
  content: 'Editor: ';
}
.fecha:before {
  content: 'Fecha de publicación: ';
}
.sizeFile:before{
  content: 'Tamaño de archivo: ';
  margin-top: -10px;
}
a{
    color:#70706F;
    text-decoration:none; 
    font-size: 0.9em;
}
a:hover, a:focus{
    color:#8D143E;
    cursor: pointer;
    text-decoration:none; 
}
a .fa{
    margin:0 10px 0 10px;
  }

@media (min-width: 1200px) {

}
@media (max-width: 992px) {
   

}
@media (max-width: 767px) {
   
}

@media (max-width: 495px){
  .header_main-content h1 {
        margin: 10px 0px 0 0;
        text-align: center
  }
  a .fa{
    font-size: 2em;
    color:#70706F;
    margin-right: 20px;
  }
  a .fa:hover{
    font-size: 2em;
    color:#8D143E;
  }
  .bg-faded {
    background-color: #ffffff;
    margin-bottom: 20px;
  }
  .btn-success .fa{
    color: #fff;
    margin: 0px;
    font-size: 1.5em;
  }
}
 

.btn_callapse{
background: #8d143d;	
outline: none;	
color: white;
border-color: #8d143d;
border-bottom: none;
border-top-color: #8d143d;
	
}


.position_logo{
display: flex;	
 display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

	


/**Filtros encabezado**/
.contenedor-filtros{
	padding: 5px 20px 0px 20px;
	background-color: #f3f3f3;
	margin: 5px 0 10px 0;
}
.contenedor-filtros h6{
	font-weight: 700;
	margin-bottom: 2px;
}
.contenedor-filtros .form-control{
	height: 30px;	
	padding: 0 5px;
}
.contenedor-filtros .btn-default{
	margin:0;
	margin-right: 5px !important;
	border-radius: 3px !important;
	vertical-align: middle;
	}
.boton-descargar{
	margin-top: 10px !important;
	    width: min-content;
}
.contenedor-boton-1{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.btn-default.active {
    background-color: #666 !important;
	color: #fff !important;
}
.btn-default:active {
    background-color: #666 !important;
	color: #fff !important;
}
.btn-group{
	    width: max-content;
}

/**contenido general**/

.titulo-grafica{
	font-size: 1.1rem;
	text-align: center;
	color: #000;
	margin-top: 20px;
	line-height: 1.4;
}
.contenedor-grupo-datos{
border-bottom: 1px solid #b0b1b0;
	padding-bottom: 20px;
	margin-bottom: 40px;
	display: block;	
}
.contenedor-grupo-datos:last-child {
border-bottom: 0px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	display: block;	
}
.Porcentaje-general{
	font-size: 4rem !important;
	text-align: center;
	font-family:'Roboto Slab', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	margin: 0;
	}
.Porcentaje-general-variable-1{
    font-size: 3rem !important;
    text-align: center;
    font-family:'Roboto Slab', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    margin: 0;
    color: #615fa7;
  }
.Porcentaje-general-variable-2{
    font-size: 3rem !important;
    text-align: center;
    font-family:'Roboto Slab', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    margin: 0;
    color: #54b8c0;
    }
    
.detalle-valor-general{
	text-align: center;
	margin: 0;
	color: #000;
}
.radio-button-porcentaje{
	border: 1px solid #cecece;
	text-align: center;
	align-content: center;
	padding: 13px 20px;
	border-radius: 3px;
	margin: 0 auto;
}
.fuente{
    bottom: 0;
    right: 0;
    float: right;
    position: absolute;
}
.icono{
	float: left;
	margin: -5px 5px 0px -10px;
}
.radio-button-lista {
	padding-left: 20px;
	margin-bottom: 10px;
}

.radio-button-lista .radio{
	font-weight: 400;
	font-size: 0.9em;
}

.nota-informativa{

   width: 265px;
   height: 55px;
   background-color: #f3f3f3;
   position: relative;
   -moz-border-radius:    5px;
   -webkit-border-radius: 5px;
   border-radius:         5px;
   margin-bottom: 10px;
   padding: 1px 1px 0px 8px;
   border: 1px solid #e0e0e0;
}
	
.nota-informativa:before {
    content: "";
    position: absolute;
    top: 94%;
    bottom: 0;
    width: 0;
    left: 20px;
    transform: rotate(270deg);
    height: 0;
    border-top: 6px solid transparent;
    border-right: 4px solid #e6e6e6;
    border-bottom: 6px solid transparent;
}
.nota-informativa h6{
	    font-weight: 800;
    margin-bottom: 2px;
}
.nota-informativa p{
	font-size: 0.8em;
}
.disabled{
	
}	
	

/**Visualización gráfica en Mobile**/
.tabla-datos-mobile{
	padding: 5px;
	margin-bottom: 20px !important;
	border-bottom: 2px solid #000;
}

.tabla-datos-mobile table tbody{
	border-bottom: 2px solid #ddd;
}
.table-responsive{
	border: 0px !important;
}
@media (min-width: 768px) {
	.tabla-datos-mobile{
		display:none;
	}
}
@media screen and (max-width: 767px){
		.tabla-datos-mobile{
		width: 80%;
		margin: 0 auto;
	}
}

@media (max-width: 1184px){
	.contenedor-boton-1{
		    margin-left: -10px;
	}
}
@media(max-width: 992px){
	.contenedor-boton-1{
 		margin-top: 0px;
    	margin-bottom: 15px;
	}
}