<!--
      Vista principal: permite dibujar los componentes del dashbord
-->
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Biblioteca Virtual Departamento Administrativo Nacional de Estadística (DANE)">
<title>Encuesta Nacional de Lectura - ENLEC 2017</title>
</head>

<div>
  <!-- Header de la aplicación -->
  <div ui-view="header"></div>
  <h1>{{ mensaje }}</h1>

  <!-- Filtros o selectores generales de toda la vista principal -->
  <div ui-view="filterView"></div>

  <!-- Llamado vistas del dashboard -->
  <div ui-view="horizontalBarChart1View"></div>
  <div ui-view="horizontalBarChart2View"></div>
  <div ui-view="infoView"></div>
  <div ui-view="exampleView"></div>
  <div ui-view="circularChart1View"></div>
  <div ui-view="numeroChart1View"></div>

  <!-- Footer de la aplicación -->
  <div ui-view="footer"></div>
</div>
